appdirs
aria2p
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib==0.4.6
js2py
lk21
lxml
megasdkrestclient
psutil
pybase64
hachoir
pillow
speedtest-cli
cfscrape
Pyrogram==2.0.93
python-dotenv
python-magic
python-telegram-bot==13.15
psycopg2
requests
telegraph
tenacity
TgCrypto
yt-dlp
