appdirs
aria2p
beautifulsoup4
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
js2py
lk21
lxml
megasdkrestclient
psutil
pybase64
hachoir
pillow
speedtest-cli
cfscrape
Pyrogram
python-dotenv
python-magic
python-telegram-bot
psycopg2
requests
telegraph
tenacity
TgCrypto
yt-dlp